<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SurfsUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SurfsUp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
        <div class="header">
      <a href="/home/index" target="_self" class="home-link"><img src="~/images/9bf7abfc-9f06-4496-9c37-5d8e22ba3f75.png" class="logo-img"></a>
      <input class="text-box" placeholder="Search">
        <button class="login">Login/Signup</button>
      </div>
    <div class="header2">
        <!-- har lavet alle knapperne om til <a>, og fået dem til at ligne knapper, da <a> har en default styling der overwritede knappens css style. -->
        <a href="/Boards/index" target="_self" class="nav-bar-button" >Boards </a>

        <a class="nav-bar-button">Udstyr</a>

        <a class="nav-bar-button">Insruktionstimer</a>

        <a class="nav-bar-button">Lokationer</a>

        <a class="nav-bar-button">Praktisk Info</a>

        <a class="nav-bar-button">Udlejning</a>

        <a class="nav-bar-button">Blog</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SurfsUp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
 
</body>
</html>
