<div>
    <div class="board-site-column">
        <div>
            <img class="board-site-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p346_i9_w5000.jpeg?width=640">

        </div>
        <div class="board-site-info">
            <div class="frontpage-boxtext">
                <p class="board-name">
                    The Minilog - Beginner
                </p>
                <p class="">
                    The MINILOG is one of the most popular allround shapes available. With a true pintail this board turns on a dime and fly´s riding on the nose. Easy to paddle in in all kinds of waves featuring a single concave to double concave v bottom shape. A great board for beginners as well as surfers who know how to play and look for an alternative to classic funshapes and longboards. The MINILOG is a great allrounder and capable to perform in log walls and tube sections. Experienced surfers will excell with this model. Beginners & intermediates wil love wave catching capability and ease of glide.

                    <br />
                    <br />
                    The SALTWATER NOMAD EPS EPOXY WOOD VENEER TECHNOLOGY features closed cell eps foam, classic center stringer, glasfiber and a layer of WOOD VENEER between the top layers in the standing area and is the most ecological friendly construction we can offer.

                    <br />
                    <br />

                    The MINILOG EEX in white has a gloss finish and is delivered includingLIGHT premium glasfiber fins with Future box and US-box fin.
                </p>
            </div>
            <p class="type">
                Type: Shortboard<br />
                Price: 565€ / 19€ pr. dag <br />
                Length: 6 ft <br />
                Width: 21 inches<br />
                Thickness: 2,75 inches<br />
                Volume: 38,8 L<br />
            </p>
            <label for="fromDate"> Book fra: </label>
            <input type="date" id="fromDate"/>
            <br />
            <label for="toDate"> Book til: </label>
            <input type="date" id="toDate" />
            <br />
            <label for="nameTextBox">Indtast navn: </label>
            <input type="text" id="nameTextBox"/>
           <br />
            <label for="emailTextBox">Indtast email: </label>
            <input type="text" id="emailTextBox" />
            <br />
            <button class="add-to-basket-button" id="bookingButton" onclick="showInput()">
                Book                
            </button>
        </div>
    </div>
</div>
