@{
    ViewData["Title"] = "Home Page";
}

<!-- tilføjede container class der indholder de 3 frontpage kasser, så vi kunne space dem ordentligt.-->
<div class="container">   
<div class="frontpage-container">
        <div class="frontpage">         
            <h3 class="frontpage-boxtext">
            Om os: 
            </h3>
            <p class="frontpage-boxtext">
                Velkommen til Surf's Up – dit foretrukne sted for surfboardudlejning! Vi er en passioneret gruppe surfere, der brænder for at dele glæden ved bølgerne med dig. Uanset om du er nybegynder eller erfaren surfer, har vi det perfekte udstyr til dig. Vores udvalg af surfboards er nøje udvalgt for at sikre, at du får den bedste oplevelse på vandet.
            </p>
             <p class="frontpage-boxtext">
            Hos Surf's Up er vores mission at gøre surfing tilgængeligt og sjovt for alle. Vores venlige og erfarne personale står klar til at hjælpe dig med at finde det rette board og give dig tips til din næste tur på bølgerne. Med vores strategisk placerede udlejningssteder langs de bedste strande, er du altid tæt på din næste surfoplevelse.
            </p>
            <p class="frontpage-boxtext">
            Tag et dyk ned i vores verden af bølger, sol og surfkultur – vi glæder os til at se dig på stranden!
            </p>        
          </div>
          <div class="frontpage">
            <h3 class="frontpage-boxtext">
              Nyheder:
            </h3>
            <h4 class="frontpage-boxtext">
                Nye Talenter Skinner i Surfing-VM 2024
            </h4>
            <p class="frontpage-boxtext">

        Surfing-VM 2024 byder på imponerende præstationer fra nye talenter som 18-årige Mia Johnson fra Australien. Hendes modige stil og innovative tricks gør hende til en af årets mest spændende konkurrenter.
     </p>
     <br />
    <h4 class="frontpage-boxtext">    
        Bæredygtige Surfbrætter Vinder Frem
    </h4>
     <p class="frontpage-boxtext">

        Flere surfbræt-producenter som Firewire og Patagonia satser nu på bæredygtige materialer, der reducerer miljøaftrykket. Disse grønne initiativer får opbakning fra surfere verden over, der ønsker at surfe med omtanke for naturen.
     </p>

          </div>
          <div class="frontpage">
            <h3 class="frontpage-boxtext">Gode tilbud:</h3>
            <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
              <p class="type">
                Daggerboard
              </p>
              <p class="type">
                  250,- pr. dag
              </p>

          </div>

      </div>
    </div>
