@model IEnumerable<SurfsUp.Models.Board>

@{
    ViewData["Title"] = "Surfboard List";
}

@if (Model != null && Model.Any())
{
    <div class="board-container">
        <ul>
            @foreach (var board in Model)
            {
                <li>
                    <a class="card">
                        <div class="image-container">
                            <img class="image" src="@board.ImagePath" />
                        </div>
                        <div class="text-container">
                            @board.Name
                        </div>
                        <div class="text-container-type">
                            @board.Type
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
}