<div class="board">
    <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
    <p class="type">
        Daggerboard
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://images.squarespace-cdn.com/content/v1/56ce2d7acf80a11b2f1489c7/1644458926900-Y7KA2YDVE6CS2QENVNKJ/blue.jpg?format=1000w">
    <p class="type">
        Placeholder
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/what-top_03a2b77c-f2e4-4e47-83b7-54a7d0a28c3d_2048x.jpg?v=1722348672">
    <p class="type">
        Placeholder
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/lowrider-bottom_5000x.jpg?v=1674005340">
    <p class="type">
        Placeholder
    </p>
    <p class="type">
        250,- pr. dag
    </p>
    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
    <p class="type">
        Daggerboard
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://images.squarespace-cdn.com/content/v1/56ce2d7acf80a11b2f1489c7/1644458926900-Y7KA2YDVE6CS2QENVNKJ/blue.jpg?format=1000w">
    <p class="type">
        Placeholder
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/what-top_03a2b77c-f2e4-4e47-83b7-54a7d0a28c3d_2048x.jpg?v=1722348672">
    <p class="type">
        Placeholder
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
<div class="board">
    <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/lowrider-bottom_5000x.jpg?v=1674005340">
    <p class="type">
        Placeholder
    </p>
    <p class="type">
        250,- pr. dag
    </p>
    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>

<div class="board">
    <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
    <p class="type">
        Daggerboard
    </p>
    <p class="type">
        250,- pr. dag
    </p>

    <button class="add-to-basket-button">
        Lej
    </button>
    <button class="information-button">
        Info
    </button>
</div>
