<div class="board-container">
    <a href="~/Bookings/Index/1" class="card">
        <div class="image-container">
            <img class="image" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p346_i9_w5000.jpeg?width=640">
        </div>

        <div class="text-container">
            <h4>The Minilog - Beginner</h4>
            <p class="text-container-type">Shortboard</p>
        </div>
    </a>
    <a href="~/Bookings/index/2" class="card">

     <div class="image-container">
        <img class="image" src="https://images.squarespace-cdn.com/content/v1/56ce2d7acf80a11b2f1489c7/1644458926900-Y7KA2YDVE6CS2QENVNKJ/blue.jpg?format=1000w">
        </div>
        <div class="text-container">
            <h4>The Wide Glider - Beginner</h4>
            <p class="text-container-type">Funboard</p>
            </div>
      
       @*  <div class="information-column">
            <div>
                <p class="type">
                    Funboard<br />
                    685€ / 23€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 7,1 ft <br />
                W: 21,75 inches<br />
                T: 2 inches<br />
                V: 44 L<br />
            </div>
        </div> *@
    </a>
    <div class="board">
        <img class="board-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p329_i37_w1168.png?width=640">
        <p class="board-name">
            The Golden Ratio - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Funboard<br />
                    695€ / 23€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 6,3 ft <br />
                W: 21,85 inches<br />
                T: 2,9 inches<br />
                V: 43,22 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/lsb077-mahi-mahi-ice-front_orig.jpg?width=640">
        <p class="board-name">
            Mahi Mahi - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Fishboard<br />
                    645€ / 22€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 5,4 ft <br />
                W: 20,75 inches<br />
                T: 2,3 inches<br />
                V: 29,39 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p336_i55_w5000.jpeg?width=640">
        <p class="board-name">
            The Emerald Glider - Intermediate
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Longboard<br />
                    895€ / 30€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 9,2 ft <br />
                W: 22,8 inches<br />
                T: 2,8 inches<br />
                V: 65,4 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p507_i7_w3024.jpeg?width=640">
        <p class="board-name">
            The Bomb - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Shortboard<br />
                    645€ / 22€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 5,5 ft <br />
                W: 21 inches<br />
                T: 2,5 inches<br />
                V: 33,7 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p285_i27_w333.jpeg?width=640">
        <p class="board-name">
            Walden Magic - Expert
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Longboard<br />
                    1025€ / 34€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 9,6 ft <br />
                W: 19,4 inches<br />
                T: 3 inches<br />
                V: 80 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://kite-prod.b-cdn.net/22641-large_default/naish-hover-downwind-2024-foilboard.jpg?width=640">
        <p class="board-name">
            Naish One - Intermediate
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    SUP<br />
                    854€ / 29€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 12,6 ft <br />
                W: 30 inches<br />
                T: 6 inches<br />
                V: 301 L<br />
            </div>
        </div>
    </div>

    <div class="board">
        <img class="board-picture" src="https://kite-prod.b-cdn.net/16394-large_default/stx-tourer-11-6-2022-2023-inflatable-sup-package.jpg">
        <p class="board-name">
            Six Tourer - Intermediate
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    SUP<br />
                    611€ / 20€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 11,6 ft <br />
                W: 32 inches<br />
                T: 6 inches<br />
                V: 270 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://kite-prod.b-cdn.net/24445-large_default/naish-maliko-carbon-14-x-25-2024-inflatable-sup.jpg?width=640">
        <p class="board-name">
            Naish Maliko - Expert
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    SUP<br />
                    1304€ / 44€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 14 ft <br />
                W: 25 inches<br />
                T: 6 inches<br />
                V: 330 L<br />
            </div>
        </div>
    </div>
</div>