<div class="board-container">
    <div class="board">
        <img class="board-picture" src="https://www.light-surfboards.com/uploads/5/7/3/0/57306051/s326152794241300969_p346_i9_w5000.jpeg?width=640">
        <p class="board-name">
            The Minilog - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Shortboard<br />
                    565€ / 19€ pr. dag <br />
                   
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 6 ft <br />
                W: 21 inches<br />
                T: 2,75 inches<br />
                V: 38,8 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://images.squarespace-cdn.com/content/v1/56ce2d7acf80a11b2f1489c7/1644458926900-Y7KA2YDVE6CS2QENVNKJ/blue.jpg?format=1000w">
        <p class="board-name">
            The Wide Glider - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Funboard<br />
                    685€ / 23€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 7,1 ft <br />
                W: 21,75 inches<br />
                T: 2 inches<br />
                V: 44 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/what-top_03a2b77c-f2e4-4e47-83b7-54a7d0a28c3d_2048x.jpg?v=1722348672">
        <p class="board-name">
            The Golden Ratio - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Funboard<br />
                    695€ / 23€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 6,3 ft <br />
                W: 21,85 inches<br />
                T: 2,9 inches<br />
                V: 43,22 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/lowrider-bottom_5000x.jpg?v=1674005340">
        <p class="board-name">
            Mahi Mahi - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Fishboard<br />
                    645€ / 22€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 5,4 ft <br />
                W: 20,75 inches<br />
                T: 2,3 inches<br />
                V: 29,39 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
        <p class="board-name">
            The Emerald Glider - Intermediate
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Longboard<br />
                    895€ / 30€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 9,2 ft <br />
                W: 22,8 inches<br />
                T: 2,8 inches<br />
                V: 65,4 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://images.squarespace-cdn.com/content/v1/56ce2d7acf80a11b2f1489c7/1644458926900-Y7KA2YDVE6CS2QENVNKJ/blue.jpg?format=1000w">
        <p class="board-name">
            The Bomb - Beginner
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Shortboard<br />
                    645€ / 22€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 5,5 ft <br />
                W: 21 inches<br />
                T: 2,5 inches<br />
                V: 33,7 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/what-top_03a2b77c-f2e4-4e47-83b7-54a7d0a28c3d_2048x.jpg?v=1722348672">
        <p class="board-name">
            Walden Magic - Expert
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    Longboard<br />
                    1025€ / 34€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 9,6 ft <br />
                W: 19,4 inches<br />
                T: 3 inches<br />
                V: 80 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://rustysurfboards.com/cdn/shop/products/lowrider-bottom_5000x.jpg?v=1674005340">
        <p class="board-name">
            Naish One - Intermediate
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    SUP<br />
                    854€ / 29€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 12,6 ft <br />
                W: 30 inches<br />
                T: 6 inches<br />
                V: 301 L<br />
            </div>
        </div>
    </div>

    <div class="board">
        <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
        <p class="board-name">
            Six Tourer - Intermediate
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    SUP<br />
                    611€ / 20€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 11,6 ft <br />
                W: 32 inches<br />
                T: 6 inches<br />
                V: 270 L<br />
            </div>
        </div>
    </div>
    <div class="board">
        <img class="board-picture" src="https://solidsurf.co/wp-content/uploads/2022/05/SOLIDStealthFishAquaTop.png">
        <p class="board-name">
            Naish Maliko - Expert
        </p>
        <div class="information-column">
            <div>
                <p class="type">
                    SUP<br />
                    1304€ / 44€ pr. dag
                </p>
                <button class="add-to-basket-button">
                    Lej
                </button>
            </div>
            <div class="type">
                L: 14 ft <br />
                W: 25 inches<br />
                T: 6 inches<br />
                V: 330 L<br />
            </div>
        </div>
    </div>
</div>